section{
    width: 100%;
    height: 100%;
}
#menu{
    width: 22.5%;
    min-height: 100%;
    float:left;
    box-shadow: 10px 0 5px -2px grey;
}
#content{
    width: 77.5%;
    min-height: 100%;
    float: right;
    background-color: #ede4e2;
    overflow-y: scroll;
}