<section>
    <div id="header-form">
        <img src="../../../assets/shopping-cart.png" />
        <h2>
            Formulário para cadastro
        </h2>
        <h3>
            Digite os dados necessários para cadastrar um PEDIDO
        </h3>
    </div>
    <div id="container-form">
        <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit(cadastroForm.value)">
            <div>
                <label for="Ecommerce">
                    Ecommerce
                </label>
                <select formControlName="selectEcommerce">
                    <option *ngFor="let ecommerce of ecommerces" [value]="ecommerce.id">{{ecommerce.name}}</option>
                </select>
                <label for="requestDate">
                    Data do pedido
                </label>
                <dp-date-picker name="requestDate" formControlName="requestDate">
                </dp-date-picker>
                <label for="deliverDate">
                    Data de entrega
                </label>
                <dp-date-picker name="deliverDate" formControlName="deliverDate"></dp-date-picker>

            </div>
            <div formArrayName="listProducts">
                <div class="div2" *ngFor="let product of listProducts.controls; let i = index" [formGroupName]="i">
                    <label for="produto">
                        Nome do produto
                    </label>
                    <input name="produto" [id]="i" formControlName="name">
                </div>
                <button class="productButton" (click)='addProduct()'>
                    New Produto
                </button>
            </div>
            <div id="form-button">
                <button type="submit" [disabled]="!cadastroForm.valid">
                    Concluir
                </button>
            </div>
        </form>
    </div>
</section>
